.Slide3BG{
    background: url('https://i03.appmifile.com/438_operator_in/14/04/2024/87edd2db13df90b11299f4d23a76915b.jpg?thumb=1&w=2560&f=webp&q=85');
  background-size: cover;
  background-position: center;
  aspect-ratio: 27/9;
  }