.Slide2BG{
    background: url('https://i03.appmifile.com/629_operator_in/19/02/2024/627155db46851d9ed8f1f24c8f9318e8.jpg?thumb=1&w=2560&f=webp&q=85');
  background-size: cover;
  background-position: center;
  aspect-ratio: 27/9;
  }