.Slide1BG{
  background: url('https://i03.appmifile.com/60_operator_in/11/04/2024/40c0eb7a05df211b2f186238e6f7a170.jpg?thumb=1&w=2560&f=webp&q=85');
background-size: cover;
background-position: center;
aspect-ratio: 27/9;
}