.Slide4BG{
    background: url('https://i03.appmifile.com/177_operator_in/14/04/2024/669b6459badccf2ef348cbb394d69423.jpg?thumb=1&w=2560&f=webp&q=85');
  background-size: cover;
  background-position: center;
  aspect-ratio: 27/9;
  }